.cart_wrapper {
    padding: 15px;
    position: absolute;
    top: 0;
    right: -460px;
    width: 450px;
    height: 100vh;
    background: rgba(249, 249, 249, 0.95);
    transition: 0.5s all ease-in-out;
    z-index: 2;
}

.show_cart {
    right: 0;
    transition: 0.5s all ease-in-out;
}

.cart_wrapper h2 {
    color: rgb(109, 109, 109);
}

@media screen and (max-width: 460px) {

    .cart_wrapper {
        width: 100%;
    }
}