.path {
    margin: 20px 0;
}
.card_details {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}
.details_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}