.admin_cat_picture  {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    margin-bottom: -7px;
}
.admin_cat_picture h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 25px;
    text-transform: uppercase;
    text-shadow: 4px 2px 6px rgba(33,14,9,0.37);
}