.footer_wrapper {
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(240, 240, 240, 1);
    align-items: center;
    /*-webkit-box-shadow: 5px 3px 0 5px rgba(143, 139, 143, 0.24);*/
    /*-moz-box-shadow: 0 3px 5px 0 rgba(143, 139, 143, 0.24);*/
    box-shadow: 5px 0 7px 0 rgba(143, 139, 143, 0.29);
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    font-family: 'Oswald', sans-serif;
    color: rgba(109, 109, 109);
    padding: 30px 0;
    margin-top: auto;
}