@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color:  #b17862;
  text-decoration: none;
}
body {
  font-family: 'Fira Sans', sans-serif;
  color: #212121;
}

h2,h3 {
  text-align: center;
  margin: 5px;
}
p {
  margin: 15px 0;
}